
.Navbar{
    background: #ffffff;
    color: #1d3b94;
    width: 25rem;
    height: 95vh;
    border-radius: 25px;
    overflow-y: auto;
    overflow-x: hidden;
  }
.header{
  color:#ffffff;
}
.Navbar h1{
    height:3rem;
    font-size: 3rem;
    margin-top: 0rem;
    padding-top: 1rem;
}

.getdetail{
    margin-left: 5rem;
    margin-top:1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border: none;
    color:rgb(19, 93, 157);
    border-radius: 30px;
    height:3rem;
    width:15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
}
.box3{
    position:relative;
    top:1vh;
    left:3rem;
    height: 62vh;
    width: 19rem;
    background-color: #e9e8e8;
    border-radius:  25px ;
    padding-top: 3rem;
    color:#1d3b94;
    box-shadow: 0px 8px 5px  #262d42;
}
.box4{
    background-color:#1d3b94 ;
    height:20%;
    width: 25rem;
    position: absolute;
    top:80%;
    border-radius: 40px 40px 25px 25px;
}
.box{
    margin-left: 2rem;
    margin-top:10%;
    margin-bottom: 1rem;
    background-color: #1d3b94;
    border: none;
    color:aliceblue;
    border-radius: 30px;
    height:8rem;
    width:15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-box{
    margin-left: 2rem;
    margin-top:10%;
    margin-bottom: 1rem;
    background-color: #1d3b94;
    border: none;
    color:aliceblue;
    border-radius: 30px;
    height:4rem;
    width:15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box{
    justify-content: center;
    margin-top:10%;
    margin-bottom: 1rem;
  border: .2rem solid #1d3b94;
  height:4rem;
  width:15rem;
  border-radius: 5px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #3d6dff 0, #1d3b94 100%);
  border: 0;
  
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  
  
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
::placeholder{
    color: #dddddd;
}
.input-box:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.input-box:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
 
}

.input-box:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: 1%;
  margin-right: 1%;
  
}
.styled-table thead tr {
  background-color: #3c4fe0;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #3c4fe0;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #3c4fe0;
}